body{
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  line-height: 1.5;

  background-color: white;
}

h1{
  font-size: 24px;
  font-family: "FiraSans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -0.08em;
}

h2{
  font-size: 18px;
  font-family: "FiraSans", sans-serif;
  font-weight: bold;
  color: rgb(249, 249, 249);

  text-transform: uppercase;
  line-height: 1.2;
}

.container{
  max-width: 1600px;
  min-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

header{
  position: relative;
}

.introduce{
  position: relative;

  background-image: url(../img/hero_image.jpg);
  background-repeat: no-repeat;
  background-position: center;

  min-height: 900px;
}

.logo{
  display: table-cell;
  vertical-align: middle;

  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 13.125%;
  top: 88px;
  width: 80px;
  height: 80px;

  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  z-index: 1;
}

.menu a {
  display: block;
  position: absolute;
  right: 14.55%;
  top: 108px;

  font-size: 12px;
  color: rgb(20, 20, 20);
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  z-index: 1;
}

.menu_decor{
  width: 25px;
  height: 4px;
  background-color: black;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}

.menu_decor:nth-child(3){
  margin-bottom: 10px;
}

.introduce span{
  display: block;

  padding-top: 355px;
  margin-left: 13.125%;

  font-size: 72px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -0.025em;
}

.introduce p{
  margin-left: 13.125%;
  margin-top: 11px;

  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.025em;
  font-weight: 300;

  width: 555px;
}

strong{
  font-weight: bold;
}

.slanted {
  position: absolute;
  right: 0;
  bottom: 0px;

  border-left: solid 1129px transparent;
  border-bottom: solid 900px rgba(66, 183, 200, 0.3);
}

.landing_block{
  display: flex;
}

/*.hero_represent_item{
  display: flex;
}*/

.hero_represent{
  min-height: 500px;
  width: 50%;
}

.hero_photo{
  background-color: #b73e44;
  background-image: url(../img/hero_photo.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.hero_text{
  font-size: 36px;
  color: rgb(102, 102, 102);
  line-height: 1.2;

  background-color: #f3f1ef;
}

.hero_text h1{
  margin-top: 107px;
  margin-left: 7%;
  letter-spacing: -0.08em;
}

.hero_text p{
  width: 63%;

  margin-left: 7%;
  margin-top: 33px;

  letter-spacing: -0.025em;
  font-weight: 300;
}

.galery{
  width: 25%;
  height: 515px;

  background-color: #3f729b;
  background-repeat: no-repeat;
}

.photo_01{
  background-image: url(../img/photo_04.jpg);
  background-position: right;
}

.photo_02{
  background-image: url(../img/photo_03.jpg);
  background-position: right;
}

.photo_03{
  background-image: url(../img/photo_02.jpg);
  background-position: right;
}

.photo_04{
  background-image: url(../img/photo_01.jpg);
  background-position: right;
}

.photo_05{
  background-image: url(../img/photo_05.jpg);
  background-position: сcenter;
}

.instagramm{
  width: 50%;
  background-color: #3f729b;
  color: #f9f9f9;
}

.instagramm h1 {
  margin-left: 26.25%;
  margin-top: 118px;
}

.instagramm p {
  margin-left: 26.25%;
  margin-top: 34px;
  margin-bottom: 33px;

  font-size: 36px;
  font-weight: lighter;
  line-height: 1.2;
  letter-spacing: -0.025em;
  width: 65%;
}

.instagramm a{
  margin-left: 26.25%;
  padding: 18px 25px 15px 25px;

  text-decoration: none;
  font-size: 18px;
  color: rgb(249, 249, 249);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.2em;

  border: solid 2px rgb(249, 249, 249);
  border-radius: 30px;
}

.music_play{
  height: 900px;

  background-color: #282b2f;
}

.padding_gray{
  width: 25%;
}

.music{
  min-height: 500px;
  width: 33.33%;

  background-color: #212227;
}

.music h1{
  color: rgb(46, 189, 89);
  font-weight: bold;
  text-transform: uppercase;

  padding-top: 140px;
  margin-top: 0px;
  margin-left: 15%;
}

.music span{
  color: rgb(46, 189, 89);
  text-transform: uppercase;
  font-size: 18px;

  margin-left: 15%;
}

.music p{
  color: rgb(249, 249, 249);
  line-height: 1.5;
  font-size: 14px;

  margin-left: 15%;
}

.music a{
  position: relative;

  font-size: 18px;
  color: rgb(46, 189, 89);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  border: solid 2px rgb(46, 189, 89);
  border-radius: 30px;

  padding: 15px;
  margin-left: 15%;
}

.click_play_item{
  display: inline-block;
  border: solid 8px transparent;
  border-left: solid 15px rgb(46, 189, 89);
}

.dj_photo{
  width: 75%;

  background-image: url(../img/photo_dj.jpg);
  background-position: right;
}

.music_follow_item{
  min-height: 515px;
}

.spotify{
  background-color: #2ebd59;
  width: 50%;
}

.spotify h1{
  color: rgb(249, 249, 249);

  margin-left: 26.25%;
  margin-top: 140px;

  text-transform: uppercase;
}

.spotify p{
  font-size: 36px;
  color: rgb(249, 249, 249);

  margin-left: 26.25%;


  width: 70%;
}

.spotify a{
  color: rgb(249, 249, 249);

  text-decoration: none;

  padding: 20px;

  border: solid 2px rgb(249, 249, 249);
  border-radius: 40px;

  margin-left: 26.25%;
}

.itunes{
  background-color: #282b2f;
  width: 50%
}

.itunes h1{
  color: rgb(249, 249, 249);

  margin-left: 7.5%;
  margin-top: 140px;

  text-transform: uppercase;
}

.itunes p{
  font-size: 36px;
  color: rgb(249, 249, 249);
  margin-left: 7.5%;

  width: 60%;
}

.itunes a{
  color: rgb(249, 249, 249);

  text-decoration: none;

  padding: 20px;

  border: solid 2px rgb(249, 249, 249);
  border-radius: 40px;

  margin-left: 7.5%;
}

.footer_container{
  position: relative;
  display: flex;

  min-height: 605px;

  background-color: #212227;

  color: rgb(145, 145, 145);
  font-size: 14px;
}

.about_item{
  width: 38.13%;
}

.about_item h2{
  margin-left: 34.43%;
  margin-right: 19.67%;
}

.about_item p{
  margin-left: 34.43%;
  margin-right: 18.67%;

  hyphens: auto;
}

.contacts_item{
  width: 17.5%;
}

.social{
  margin-top: 80px;
}

.social ul{
  list-style: none;
}

.social a{
  color: rgb(145, 145, 145);
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe_form{
  position: relative;

  width: 43.13%;
}

.subscribe_form h2,
.contacts_item h2,
.about_item h2{
  margin-top: 100px;
}

.subscribe_form p{
  width: 71%;

  hyphens: auto;
}

.subscribe_form input{
  width: 65.57%;

  font-size: 14px;
  color: rgb(145, 145, 145);
  line-height: 1.5px;
  text-transform: uppercase;

  background: #4d4e52;
  border: none;

  padding: 20px;
}

.subscribe_form button{
  position: absolute;

  top: 238px;
  right: 30%;
}

.sponsor{
  position: absolute;
  bottom: 125px;
  right: 25.63%;
}

.sponsor_logo{
  display: inline-block;

  border: solid 1px rgb(249, 249, 249);

  height: 80px;
  width: 80px;

  margin-right: 20px;

  background-image: url(../img/sponsor_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.logo_03{
  margin-right: 0;
}
